{
  "env": {
    "node": true,
    "es2022": true,
    "jasmine": true
  },
  "extends": ["standard"],
  "ignorePatterns": ["scripts/"],
  "rules": {
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }]
  }
}
